/**
 * Created with JetBrains PhpStorm.
 * Author: Kirill Cherkashin
 * Date: 10/20/12
 * Time: 12:10 AM
 *
 */
#simulation {
    margin: 0 auto;
    width: 960px;
}

/*.......| Controls                            |.......................*/

.dg.main {
    overflow: hidden;
    padding-bottom: 0.4em;
}

.dg.main li .property-name {
    padding: 0 10px;
}

.dg.main li.folder {
    float: none;
    overflow: hidden;
    display: block;
    padding: 15px 0;
}

.dg.main li.function {
    border: 1px #ddd solid;
}

.dg.main li.function:hover {
    border: 1px #444 solid;
    background-color: #f8f8f8;
    cursor: pointer;
}

.dg.main li {
    float: left;
    margin-right: 4px;
    line-height: 30px;
}

.dg.main .c {
    display: inline;

}

.dg.main ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*.......| Canvas                            |.......................*/

canvas {
    outline: 1px #ddd solid;
}
